@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: neue-machina;
    src: url(/assets/fonts/NeueMachina-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    height: 100vh;
    background-color:#000;
    color: #fff;
    min-width: 380px;


}

.main{
    margin: 1rem;
    padding: 1rem;
    border: 5px solid #fff;
    border-radius: 1rem;

    background: linear-gradient(
        150deg, 
        #0000ff   0%,    
        #000000  40%,
        #000000  60%,
        #0000ff 100%);

    background-repeat: no-repeat;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}