.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;  
}

.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: 
        contrast(1.4) 
        brightness(.8);
}

.header .title{
    text-align: center;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.information p{
    display: flex;
    flex-direction: row;
    margin: .5rem;
    font-size: 1.1rem;
}

.information p::before{
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.information .job::before {
     background-image: url(/assets/img/icon/job.svg);
}
.information .location::before {
     background-image: url(/assets/img/icon/location.svg);
}
.information .phone::before {
     background-image: url(/assets/img/icon/phone.svg);
}
.information .email::before {
     background-image: url(/assets/img/icon/email.svg);
}

@media only screen and (min-width: 768px) {
    .header{
        display: grid;
        grid-template-areas: 
            'photo title'
            'photo information'
        ;
    }

    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 300px;
    }

    .header .information{
        grid-area: information;
    }
}