.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li h3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio li p::before{
    content: "";
    display: inline-block;
    width:1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

.portfolio li p.github::before{
    background-image: url("../img/icon/github-white.svg");
}

.portfolio li p.itchio::before{
    background-image: url("../img/icon/itch-io.svg");

}

